{% extends 'base.html.twig' %}

{% block title %}Create User{% endblock %}

{% block body %}
    <h1>Create User</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
